*{
background-color: white;
color: black;
}

body{
background-color:white;
color: black;
}
header{
  background-color: rgb(2, 59, 151);
  color: antiquewhite;
  line-height: 3rem;
  margin-bottom:2%;
  text-align: center;
  font-size: 3rem;

}
h2 {
  border-color: white;
}
.city {
  display:flex;
  flex-direction: column;
  width: 100px;
  height: auto;
  border:2px ridge #c3c3c3;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
  justify-content:left
}
#cIcon{
 width:15%

}
#currentcity {
  display: flex;
  display: inline-block;
  margin:left 35%;
  margin-top: 0;
  margin-right: 0;
  justify-items: left;
  flex-direction: column;
  width: 50vw;
  height:50vh;
  padding:50px;
  border:5px ridge blue ;
  text-align: left;
  line-height:50px;
  font-size: 20px;
 margin-bottom:10%;

}
.btn {
  width:10vw;
  height: 5vh ;
  border-style: ridge;
  border-color: blue;
  background-color: rgb(208, 210, 236);
  border-width: 3px;
  border-radius: 5px;
  margin: 5px 0 5px 5px;

}
.cityBtn{
 border-style: ridge;
 border-color: blue;
 background-color: rgb(208, 210, 236);

}
.forcast{
display:flex;
color:black;
background-color: rgb(208, 210, 236);
border-color: blue;
border-style:ridge;

}